  /* <!--General Properties--> */
*{
    box-sizing: border-box;

}

body {

    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* <!--Title/header CSS Properties--> */

.figurehead {
    margin: auto;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

/* <!--Buttons CSS properties--> */

.btn {
    background-color: deepskyblue;
}

/* <!--Search History CSS properties--> */

.list-group-item {
    background-color: gainsboro;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

li:hover {
    background-color: lightslategray;
}


/* <!--5days Forecast CSS Properties--> */
h3 {
    font-weight: bold;
}

.forecast{
    background-color:deepskyblue;
    font-size: 0.9em;
}

span{
    font-size: 1em;
}

.imgnDay {
    text-align: center;
}
