
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.figurehead {
    margin: auto;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

.btn {
    background-color: deepskyblue;
}

.list-group-item {
    background-color: gainsboro;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

li:hover {
    background-color: lightslategray;
}

h3 {
    font-weight: bold;
}

.forecast{
    background-color:deepskyblue;
    font-size: 0.9em;
}

span{
    font-size: 1em;
}

.imgnDay {
    text-align: center;
}
